.home-content {
  .main__content-wrapper {
    @include small-wrapper;

    @media (min-width: $small-breakpoint) {
      @include medium-wrapper;
    }

    @media (min-width: $medium-breakpoint) {
      @include large-wrapper;
    }
  }

  section {
    margin: $grid-2 0;
    padding: $grid-3;

    h2 {
      margin: 0 auto;

      color: $primary-500;
      text-align: center;
    }
  }
}

.home__technos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: $grid-2 $grid-4 0 $grid-4;

  text-align: center;

  div {
    width: 25%;
    margin: $grid-3 0 $grid-2 0;
  }

  i {
    padding: $grid-2;

    color: $primary-500;
    font-size: 4rem;
  }
}
