.home-content {
  .main__content-wrapper {
    background: $primary-100;

    @include small-wrapper;

    @media (min-width: $small-breakpoint) {
      @include medium-wrapper;
    }

    @media (min-width: $medium-breakpoint) {
      @include large-wrapper;
    }
  }

  section {
    margin: $grid-2 0;
    padding: $grid-3;

    background: $neutral-100;

    h2 {
      margin: 0 auto;

      text-align: center;

      span {
        color: $primary-500;
      }
    }
  }
}
