/* =========
   HOME PAGE
   ========= */

.home-content {
  overflow: hidden;

  .main__content-wrapper {
    @include small-wrapper;

    @media (min-width: $small-breakpoint) {
      @include medium-wrapper;
    }

    @media (min-width: $medium-breakpoint) {
      @include large-wrapper;
    }
  }

  section {
    margin: $grid-3 0 $grid-2 0;
    padding: $grid-3;

    h2 {
      margin: 0 auto;

      color: $primary-500;
      text-align: center;
    }

    @media screen and (max-width: $small-breakpoint - 1) {
      margin: $grid-3 0 0 0;
      padding: $grid-2 0;
    }
  }
}

/* --------------------
   MAIN TECHNOS SECTION
   -------------------- */

.home__technos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: $grid-4 $grid-4 $grid-5 $grid-4;

  text-align: center;

  transform: translate(0, 3rem);

  &::before,
  &::after {
    position: absolute;
    top: 0;
    z-index: -1000;

    width: 100%;
    height: 100%;
    border-radius: $grid-sm;

    content: "";

    @include medium-box-shadow;
  }

  &::before {
    background: linear-gradient(-120deg, $primary-300, $primary-100);
    transform: scale(1, 1.3) rotate(1deg) translate(9rem, -0.5rem)
      skew(-2deg, 2deg);
  }

  &::after {
    background: linear-gradient(60deg, $tonic-100, white);
    opacity: 0.7;
    transform: scale(1.1, 1.2) rotate(-1deg) translate(-2rem, 1.5rem)
      skew(1deg, -1deg);
  }

  .techno-container {
    width: 25%;
    margin: $grid-3 0 0 0;
  }

  .techno-logo-container {
    height: $grid-4;
    margin: $grid-2;

    img {
      width: $grid-4;
      height: $grid-4;
    }
  }

  @media screen and (max-width: $medium-breakpoint - 1) {
    margin: 1.5 * $grid-3 $grid-4 $grid-4 $grid-4;

    &::before {
      transform: scale(1, 1.2) rotate(1deg) translate(6rem, -0.5rem)
        skew(-2deg, 2deg);
    }

    &::after {
      transform: scale(1.1) rotate(-1deg) translate(0, 1.5rem) skew(1deg, -1deg);
    }
  }

  @media screen and (max-width: $small-breakpoint - 1) {
    margin: $grid-3 $grid-2;

    transform: translate(0, 1rem);

    &::before {
      transform: scale(1, 1.1) rotate(1deg) translate(1rem, 0) skew(-2deg, 2deg);
    }

    &::after {
      transform: scale(1.1, 1.05) rotate(-1deg) translate(0, 0.5rem)
        skew(1deg, -1deg);
    }

    .techno-container {
      width: 50%;
      margin: $grid-2 0 0 0;
    }

    .techno-logo-container {
      height: 3rem;
      margin: $grid-1;

      img {
        width: 3rem;
        height: 3rem;
      }
    }

    h3 {
      font-size: $h4-size;
    }
  }
}

/* ----------------
   PROJECTS SECTION
   ---------------- */

.home__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin: $grid-4 $grid-4 $grid-2 $grid-4;
  padding: $grid-2;
  border-radius: $grid-1;

  background: no-repeat center url("../img/wavy-background.svg");
  background-size: cover;

  @media screen and (max-width: $medium-breakpoint - 1) {
    margin: $grid-3 $grid-4 0 $grid-4;
  }

  @media screen and (max-width: $small-breakpoint - 1) {
    margin: $grid-3 0 0 0;
    padding: $grid-1;
  }
}

/* ------------------------
   CURRICULUM VITAE SECTION
   ------------------------ */

.home__curriculum {
  position: relative;

  margin: $grid-5 $grid-4 $grid-4 $grid-4;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    z-index: -1000;

    width: 48rem;
    height: 48rem;

    content: "";
    filter: blur($grid-xs);
  }

  &::before {
    border-radius: 50%;

    background: linear-gradient(-135deg, $primary-100, $primary-700);
    transform: scale(0.9) translate(-6rem, -8rem);
  }

  &::after {
    border-radius: 50%;

    background: linear-gradient(165deg, $tonic-700, $tonic-100);
    transform: scale(1.1) translate(12rem, 11rem);
  }

  @media screen and (max-width: $medium-breakpoint - 1) {
    margin: $grid-4;

    &::before {
      transform: scale(0.8) translate(-8rem, -8rem);
    }

    &::after {
      transform: scale(1) translate(6rem, 16rem);
    }
  }

  @media screen and (max-width: $small-breakpoint - 1) {
    margin: $grid-4 0 $grid-3 0;

    &::before {
      transform: scale(0.7) translate(-9rem, -14rem);
    }

    &::after {
      transform: scale(0.9) translate(6rem, 6rem);
    }
  }
}

/* -------
   CONTACT
   ------- */

.home__contact {
  margin: 0 0 $grid-5 0;

  text-align: center;

  @media screen and (max-width: $medium-breakpoint - 1) {
    margin: 0 0 $grid-4 0;
  }
}
