header {
  position: sticky;
  top: 0;
  z-index: $z-header-footer;

  padding: $grid-2 $grid-4;

  background: $primary-700;

  @media (max-width: $small-breakpoint - 1) {
    padding: $grid-2 0;
  }

  @include medium-box-shadow;
}

.header-content {
  @include small-wrapper;

  @media (min-width: $small-breakpoint) {
    @include medium-wrapper;
  }

  @media (min-width: $medium-breakpoint) {
    @include large-wrapper;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: $primary-100;
    font-size: $h4-size;

    @media (max-width: $small-breakpoint - 1) {
      font-size: $xs-size;
    }
  }

  .header__social {
    grid-column: 4;

    text-align: right;

    a {
      display: inline-block;

      margin: $grid-2;
    }

    i {
      color: $primary-100;
      font-size: $h2-size;
    }

    @media (max-width: $small-breakpoint - 1) {
      a {
        margin: $grid-sm;
      }

      i {
        font-size: $h6-size;
      }
    }
  }
}
