header {
  position: sticky;
  top: 0;
  z-index: $z-header-footer;
  
  padding: $grid-2 $grid-4;

  background: $primary-700;

  .header-content {
    @include small-wrapper;

    @media (min-width: $small-breakpoint) {
      @include medium-wrapper;
    }

    @media (min-width: $medium-breakpoint) {
      @include large-wrapper;
    }

    p {
      color: $primary-100;
      font-size: $h4-size;
    }
  }
}
