<!DOCTYPE html>

<html>
  <%- include( 
      'parts/head.ejs', 
      {
        title: "lowic mangin, développeur React.js", 
        description: "Hello, je suis Lowic, développeur Front-end spécialisé en React et basé en région parisienne. Mes technos principales sont HTML, CSS, JavaScript, React.js, Sass, Bootstrap, Materialize CSS, Tailwind CSS et Git."
      } 
    ) 
  %>

  <body>
    <header><div class="header-content"></div></header>

    <main class="home-content">
      <div class="banner">
        <h1>l<span>o</span>wic mangin</h1>
        <h2>
          développeur front-end <span>|</span> react.js
        </h2>
      </div>

      <section>
        <h2>technos principales</h2>
      </section>

      <section>
        <h2>réalisations</h2>
      </section>

      <section>
        <h2>parcours</h2>
      </section>
    </main>

    <footer><div class="footer-content"></div></footer>
  </body>
</html>
