<!DOCTYPE html>

<html>
  <%- include( 
      'parts/head.ejs', 
      { title: "Lowic Mangin, développeur Front-end | React.js" } 
    ) 
  %>

  <body>
    <div class="content-wrapper">
      <h1>Lowic Mangin</h1>
      <h2>Développeur Front-end</h2>
    </div>
  </body>
</html>
