<!DOCTYPE html>

<html>
  <%- include( 
      'parts/head.ejs', 
      {
        title: "Lowic Mangin, développeur React.js", 
        description: "Hello, je suis Lowic, développeur Front-end spécialisé en React et basé en région parisienne. Mes technos principales sont HTML, CSS, JavaScript, React.js, Sass, Bootstrap, Materialize CSS, Tailwind CSS et Git."
      } 
    ) 
  %>

  <body>
    <header></header>

    <main>
      <section>
        <h1>Lowic Mangin</h1>
        <h2>Développeur Front-end | React.js</h2>
      </section>

      <section>
        <h2>Technos principales</h2>
      </section>

      <section>
        <h2>Réalisations</h2>
      </section>

      <section>
        <h2>Parcours</h2>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
