<!DOCTYPE html>

<html>
  <%- include( 
    'parts/head.ejs', 
    { 
      title: "lowic mangin, développeur React.js",
      description: "Hello, je suis Lowic, développeur Front-end spécialisé en React et basé en région parisienne. Mes technos principales sont HTML, CSS, JavaScript, React.js, Redux, Sass, Tailwind CSS, Materialize CSS, Bootstrap et Git." 
    }) 
  %>

  <body>
    <header><div class="header-content"></div></header>

    <main class="home-content">
      <div class="banner">
        <div class="banner__content-wrapper">
          <img
            class="banner__bg-img"
            src="img/logo-react.png"
            alt="React.js"
            with="512"
            height="512"
          />

          <div class="hero-card">
            <div class="hero-card__cover">
              <img
                src="img/lowic-mangin-no-bg.png"
                alt="Lowic Mangin"
                width="256"
                height="256"
              />
            </div>

            <div class="hero-card__infos">
              <h1>l<span>o</span>wic mangin</h1>

              <h2>développeur front-end <span>| react.js</span></h2>
            </div>
          </div>  
        </div>
      </div>

      <div class="main__content-wrapper">
        <section>
          <h2>technos principales</h2>
        </section>
  
        <section>
          <h2>réalisations</h2>
        </section>
  
        <section>
          <h2>parcours</h2>
        </section>
      </div>
    </main>

    <footer><div class="footer-content"></div></footer>
  </body>
</html>
