<!DOCTYPE html>

<html>
  <%- include( 
      'parts/head.ejs', 
      { title: "Lowic Mangin, développeur React.js" } 
    ) 
  %>

  <body>
    <main>
      <h1>Lowic Mangin</h1>
      <h2>Développeur Front-end | React.js</h2>
    </main>
  </body>
</html>
