<!DOCTYPE html>

<html lang="fr">
  <%- 
    include( 'parts/head.ejs', 
    { 
      title: "lowic mangin | développeur react.js",
      description: "Hello, je suis Lowic, développeur Front-end spécialisé en React, basé en région parisienne. Mes technos principales sont HTML, CSS, JavaScript, React.js, Redux, Sass, Tailwind CSS, Materialize CSS, Bootstrap et Git." 
    }) 
  %>

  <body>
    <%- include('parts/header.ejs') %>

    <main class="home-content">
      <div class="banner">
        <div class="banner__content-wrapper">
          <img
            class="banner__bg-img"
            src="img/logo-react.png"
            alt="React.js"
            width="512"
            height="512"
          />

          <div class="hero-card">
            <div class="hero-card__cover">
              <img
                src="img/lowic-mangin-no-bg.png"
                alt="Lowic Mangin"
                width="256"
                height="256"
              />
            </div>

            <div class="hero-card__infos">
              <h1>l<span>o</span>wic mangin</h1>

              <h2>développeur front-end <span>| react.js</span></h2>
            </div>
          </div>
        </div>
      </div>

      <div class="main__content-wrapper">
        <section>
          <h2>t<span>e</span>chnos principales</h2>

          <div class="home__technos" id="technos-container"></div>
        </section>

        <section>
          <h2>r<span>é</span>alisations</h2>

          <div class="home__projects" id="projects-container"></div>
        </section>

        <section>
          <h2>p<span>a</span>rcours</h2>

          <div class="home__curriculum" id="curriculum-container"></div>
        </section>

        <div class="home__contact">
          <a class="btn btn--cta" href="mailto:lowic@logic-fabric.fr">
            entrons en contact
            <i class="fas fa-envelope"></i>
          </a>
        </div>
      </div>
    </main>

    <%- include('parts/footer.ejs') %>
  </body>
</html>
