/* ===========
   HERO BANNER
   =========== */

.banner {
  height: 28rem;
  overflow: hidden;

  background: linear-gradient(135deg, $primary-300, $tonic-100);

  @include small-inset-box-shadow;

  @media screen and (max-width: $medium-breakpoint - 1) {
    height: 24rem;
  }

  @media screen and (max-width: $small-breakpoint - 1) {
    height: 25rem;
  }
}

.banner__content-wrapper {
  position: relative;

  @include small-wrapper;

  @media (min-width: $small-breakpoint) {
    @include medium-wrapper;
  }

  @media (min-width: $medium-breakpoint) {
    @include large-wrapper;
  }
}

.banner__bg-img {
  position: absolute;
  top: $grid-4;
  right: $grid-4;

  @media screen and (max-width: $medium-breakpoint - 1) {
    right: 0;
  }

  @media screen and (max-width: $small-breakpoint - 1) {
    top: 6rem;
    right: -8rem;

    width: 24rem;
    height: 24rem;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation: Create-React-App-logo-spin infinite 20s linear;
  }
}

@keyframes Create-React-App-logo-spin {
  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------
   "GLASS" CARD ON HERO BANNER
   --------------------------- */

.hero-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: $grid-4;
  z-index: $z-in-front;

  width: calc(100% - 8rem);
  border: $grid-xs solid rgba(255, 2555, 255, 0.2);
  border-radius: $grid-2;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(0.5rem);

  @include small-box-shadow;

  @media screen and (max-width: $medium-breakpoint - 1) {
    top: $grid-3;

    width: calc(100% - 4rem);
  }

  @media screen and (max-width: $small-breakpoint - 1) {
    top: $grid-2;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    width: calc(100% - 2rem);
  }

  &__cover {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: $grid-3;

    img {
      border-radius: 50%;

      background: linear-gradient(135deg, $tonic-500, $tonic-300);
    }

    @media screen and (max-width: $medium-breakpoint - 1) {
      padding: $grid-2;

      transform: scale(0.9);
    }

    @media screen and (max-width: $small-breakpoint - 1) {
      grid-row: 1/8;

      padding: 0;

      transform: scale(0.75);
    }
  }

  &__infos {
    grid-column: 2/5;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: $grid-3 $grid-4;

    h1,
    h2 {
      margin: $grid-xs 0;
    }

    h1 span {
      color: $tonic-500;
    }

    h2 {
      color: $tonic-500;
      font-family: $font-text;
      font-size: 2.25 * $grid-2;
      font-weight: 500;

      span {
        color: $primary-700;
      }
    }

    @media screen and (max-width: $medium-breakpoint - 1) {
      padding: $grid-2;
    }

    @media screen and (max-width: $small-breakpoint - 1) {
      grid-row: 7/11;
      grid-column: 1;

      padding: 0 $grid-2;

      text-align: center;

      h1 {
        font-size: $h3-size;
      }

      h2 {
        font-size: $h4-size;
      }
    }
  }
}
