<footer>
  <div class="footer-content">
    <div class="footer__infos">
      <div class="footer__about">
        <h4>&Agrave; propos de ce site</h4>

        <p>Ce portfolio a été réalisé avec les technos web de base&nbsp;:</p>
        <p><em>HTML / EJS, CSS / Sass, Vanilla JavaScript</em>.</p>
      </div>

      <div class="footer__social">
        <a href="https://www.linkedin.com/in/lowic-mangin">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/logic-fabric">
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>

    <p class="footer__disclaimer">lowic mangin 2021 | tous droits reservés</p>
  </div>
</footer>
