<footer>
  <div class="footer-content">
    <div class="footer__infos">
      <div class="footer__about">
        <h4>&Agrave; propos de ce site</h4>

        <p>
          Ce portfolio est simplement codé en
          <br />
          <em>HTML / EJS</em>, <em>CSS / Sass</em> et
          <em>Vanilla JavaScript</em>.
        </p>
      </div>

      <div class="footer__social"><%- include('./social-links.ejs') %></div>
    </div>

    <p class="footer__disclaimer">lowic mangin 2021 | tous droits reservés</p>
  </div>
</footer>
