<footer>
  <div class="footer-content">
    <div class="footer__infos">
      <div class="footer__about">
        <h4>à propos de ce site</h4>

        <p>
          Ce portfolio est codé en <em>Vanilla JavaScript</em>,
          <br />
          avec <em>Sass</em> et quelques <i>templates</i> EJS.
        </p>
      </div>

      <div class="footer__social"><%- include('./social-links.ejs') %></div>
    </div>

    <p class="footer__disclaimer">lowic mangin 2023 | tous droits reservés</p>
  </div>
</footer>
