<header>
  <div class="header-content">
    <p>lowic mangin | développeur front-end & ingénieur UX</p>

    <div class="header__social">
      <%- include('./social-links.ejs') %>
    </div>
  </div>
</header>