<ul>
  <li>
    <a href="https://www.linkedin.com/in/lowic-mangin">
      <span class="fab fa-linkedin"> </span>
      <span class="sr-only">Profil LinkedIn</span>
    </a>
  </li>

  <li>
    <a href="https://github.com/logic-fabric">
      <span class="fab fa-github-square"> </span>
      <span class="sr-only">Profil GitHub</span>
    </a>
  </li>

  <li>
    <a href="https://codepen.io/__Lowic__">
      <span class="fab fa-codepen"> </span>
      <span class="sr-only">Profil CodePen</span>
    </a>
  </li>
</ul>
